.navbar-lewagon {
  // width:100%;
  justify-content: space-between;
  background: white;
  transition: ease all .4s;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  transition: ease all .4s;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


//media q.
@media screen and (max-width: 960px) {
  .navbar-lewagon {
    width:100%;
  }    // border:1px solid yellow;

}


@media screen and (max-width: 500px) {
  .navbar-lewagon {
    width:100%;
    // border:1px solid green;
  }
}
@media screen and (max-width: 375px) {
  .navbar-lewagon {
    width:100%;
    // border:1px solid blue;
  }
}

@media screen and (max-width: 320px) {
  .navbar-lewagon {
    width:110%;
    // border:1px solid red;
  }
}
