// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cocktail-profile{
 height:auto;
}

  .cocktail-wrapper{
    position:relative;
    background: linear-gradient(90deg, rgba(247,229,208,0.6124824929971988) 0%, rgba(235,255,218,0.5648634453781513) 87%);
    margin-bottom: 20px;
  }
.cocktail-name{
  font-size:30px;
  text-align:center;
  color:#4A4A4A;
  font-family: 'Nunito', sans-serif;
  letter-spacing:3px;
  word-spacing:10px;
}

span{
  display:inline-block;
  padding:0 10px;
}

.back-btn{
  position:absolute;
  bottom:50px;
  right:250px;
  transition: ease all .4s;
}


// media q.
@media screen and (max-width: 768px) {
  .back-btn{
    position:absolute;
    bottom:10px;
    right:100px;
    margin-bottom:20px;
  }
}
@media screen and (max-width: 613px) {
  .back-btn{
    position:absolute;
    bottom:-5%;
    right:70px;
  }
  .cocktail-table{
    margin-left:10%;
  }
}
@media screen and (max-width: 500px) {
  .back-btn{
    position:absolute;
    bottom:-50px;
    right:100px;
  }
  .cocktail-table{
    margin-left:10%;
  }
}
@media screen and (max-width: 375px) {
  .back-btn{
    position:absolute;
    bottom:-5%;
    right:20px;
  }

  .cocktail-table{
    margin-left:20%;
  }

}
@media screen and (max-width: 320px) {
  .cocktail-wrapper{
    position:relative;
    left:5%;
    img{
      width:250px;
      height:350px;
    }
  }

  .cocktail-table{
    margin-left:10%;
  }
  .back-btn{
    position:absolute;
    bottom:-5%;
    right:-5%;
  }

}
