// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.review-card{
  width:600px;
  height: auto;
  margin-left:20%;
  transition: ease all .4s;

}

.btn-ghost-review{
  font-size:10px;
  width:70px;
  border:2px solid #ee4000;
  bottom:-50px;
  margin-left:40px;
  background-color: white;
  color:#ee4000;
  padding: 8px 20px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  text-decoration:none !important;

    a:hover{
      color:#ee4000;
      text-decoration:none !important;
    }

    .delete{
      left:30px;
    }
     .back{

     }
}

@media screen and (max-width: 800px) {
  .review-card{
    margin-left:10%;
  }
}

@media screen and (max-width: 500px) {
  .review-card{
    width:500px !important;
    margin-left:3%;
  }
}
@media screen and (max-width: 375px) {
  .review-card{
    width:350px !important;
    margin-left:3%;
  }
}
@media screen and (max-width: 320px) {
  .review-card{
    width:350px !important;
    margin-left:0;
  }
}
