// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user-profile{
  background-color:white;
  border:3px solid coral;
}

.cocktail-profile{
  position:relative;
}

.user{
  margin-top: 20px;
  h2{
    text-align: center;
  }
}

.ingredients{
  .tabela{
 // border:1px solid green;
  width:600px;
  transition: ease all .4s;
  }
  transition: ease all .4s;
}
.user_info{
  p{
    border-bottom:1px solid coral;
  }
  .info{
    text-decoration: italic;
    margin-top:-10px;
    margin-bottom:20px;
  }
  .profile-btns{
    padding:30px 0;
    transition: ease all .4s;


    .back_btn{
      padding:10px 30px;
      border-radius: 50px;
      border:2px solid #aFaFaF;
      a{
        color:#aFaFaF !important;
        text-decoration: none;
      }
    }

    .edit_btn{
      padding:10px 30px;
      border-radius: 50px;
      border:2px solid #aFaFaF;

      a{
        color:#aFaFaF !important;
        text-decoration: none;
      }
    }
  }
}

.user-action-btns{
  position:absolute;
  left:60%;
  top:90%;

  .back{
    margin-left:20px;
  }
  .edit{
    margin-left:80px;
  }
  .delete{
    margin-left:100px;
  }
}


// media q.
@media screen and (max-width: 1024px) {
  .cocktail-card{
    margin-top:100px;
    margin-left:0;
    img{
      margin-top:0;
      margin-left:10%;
    }
    .ingredients{
      .tabela{
     // border:1px solid green;
      width:600px;
      }
    }
  }
  .user-action-btns{
    position:absolute;
    left:25%;
    top:10%;

    .back{
      margin-left:38px;
    }
    .edit{
      margin-left:70px;
    }
    .delete{
      margin-left:90px;
    }
  }
  .dose-container{
    margin-left:-10%;
  }
}
@media screen and (max-width: 960px) {
  .cocktail-card{
    margin-top:100px;
    margin-left:0;
    img{
      margin-top:-30%;
      margin-left:60%;
    }
    .ingredients{
      margin-left:10%;
    }
  }
  .user-action-btns{
    position:absolute;
    left:25%;
    top:10%;

    .back{
      margin-left:38px;
    }
    .edit{
      margin-left:70px;
    }
    .delete{
      margin-left:90px;
    }
  }
  .dose-container{
    margin-left:-10%;
  }
}

@media screen and (max-width: 768px){
  .cocktail-card{
    margin-top:100px;
    margin-left:0;
    img{
      margin-top:-30%;
      margin-left:20%;
    }
  }
  .ingredients{
    .tabela{
     // border:1px solid green;
      width:500px;
      left:-18%;
    }
  }
  .user-action-btns{
    position:absolute;
    left:20%;
    top:10%;

    .back{
      margin-left:38px;
    }
    .edit{
      margin-left:70px;
    }
    .delete{
      margin-left:90px;
    }
  }
  .dose-container{
    margin-left:-20%;
  }
}
@media screen and (max-width: 500px) {
  .cocktail-card{
    margin-top:100px;
    margin-left:0;
    img{
      margin-top:-30%;
      margin-left:20%;
    }
  }
  .ingredients{
    .tabela{
     // border:1px solid green;
      width:450px;
      left:-12%;
    }
  }
  .user-action-btns{
    position:absolute;
    left:20%;
    top:10%;

    .back{
      margin-left:38px;
    }
    .edit{
      margin-left:70px;
    }
    .delete{
      margin-left:90px;
    }
  }
  .dose-container{
    margin-left:-10%;
  }
}
@media screen and (max-width: 375px) {
  .cocktail-card{
    margin-top:100px;
    margin-left:-10%;
    img{
      margin-top:-30%;
      margin-left:-30%;
    }
  }
  .ingredients{
    .tabela{
     // border:1px solid green;
      width:320px;
      left:-12%;
    }
  }
  .user-action-btns{
    position:absolute;
    left:-6%;
    top:10%;

    .back{
      margin-left:38px;
    }
    .edit{
      margin-left:70px;
    }
    .delete{
      margin-left:90px;
    }
  }
  .dose-container{
    margin-left:-20%;
  }
}
@media screen and (max-width: 320px) {
  .cocktail-card{
    margin-top:100px;
    margin-left:-17%;
    img{
      margin-left:-30%;
      margin-top:-30%;
    }
  }
  .user-action-btns{
    position:absolute;
    left:-6%;
    top:10%;

    .back{
      margin-left:38px;
    }
    .edit{
      margin-left:70px;
    }
    .delete{
      margin-left:90px;
    }
  }
  .ingredients{
    .tabela{
     // border:1px solid green;
      width:320px;
      left:-12%;
    }
  }
  .dose-container{
    margin-left:-20%;
  }
}
