<div class="container col-6">
  <%= simple_form_for [@cocktail, @review] do |f| %>
  <%= f.input :content %>
  <%= f.submit class: "btn btn-primary" %>
  <% end %>
  <div>
    <%= link_to "Back", root_path %>
  </div>
</div>
